name: nix flake check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}.${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          extra_nix_config: |
            extra-trusted-substituters = http://127.0.0.1
      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          use-flakehub: false
      - name: Check .nix formatting
        run: nix fmt -- --fail-on-change
      - name: Check nix flake show runs successfully
        run: nix flake show --all-systems
      - name: Run nix flake check (no build)
        run: nix flake check --option allow-import-from-derivation false --no-build
  build_matrix:
    name: "build"
    runs-on: ubuntu-latest
    timeout-minutes: 360
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        target: [x1, t480]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          extra_nix_config: |
            extra-trusted-substituters = http://127.0.0.1
      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          use-flakehub: false
      - name: Build target '${{ matrix.target }}'
        run: nix build .#nixosConfigurations.${{ matrix.target }}.config.system.build.toplevel -L
