name: zizmor

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - ".github/dependabot.yml"
  pull_request:
    paths:
      - ".github/workflows/**"
      - ".github/dependabot.yml"
  workflow_dispatch:

jobs:
  zizmor:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install nix
        uses: cachix/install-nix-action@08dcb3a5e62fa31e2da3d490afc4176ef55ecd72 # v30
        with:
          extra_nix_config: |
            extra-trusted-substituters = http://127.0.0.1

      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          use-flakehub: false

      - name: Run zizmor
        run: nix run .#nixosConfigurations.x1.pkgs.zizmor -- --offline --format github .github/workflows
